<%= include_gon %>

<div class="progress-container">
  <div class="step active">お客様情報</div>
  <div class="step active">支払い</div>
  <div class="step">予約完了</div>
</div>

<%= form_with  model: @payment, url: reservation_payments_path(@reservation), id: 'charge-form', class: 'card-form', local: false do |f| %>
  <%= render 'layouts/error_messages', model: @payment %>
  <div class='form-wrap'>
    <%= f.label :amount, "お支払い金額" %>
    <%= f.text_field :amount, value: @reservation.room.price, class:"amount", readonly: true %>
  </div>
  <div class='form-wrap'>
    <p>カード番号</p>
    <div id="number-form" class="input-default"></div>
  </div>
  <div class='form-wrap'>
    <p>期限</p>
    <div id="expiry-form" class="input-default"></div>
  </div>
  <div class='form-wrap'>
    <p>カード背面4桁もしくは3桁の番号</p>
    <div id="cvc-form" class="input-default"></div>
  </div>
  <div class="form-actions">
    <%= f.submit "購入", class: "button", id: "button" %>
    <%= link_to "戻る", reservations_path, class: "button button-back" %>
  </div>
<% end %>